<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lubao.forbackend.dao.CommentDAO">
	<resultMap id="map1" type="com.lubao.forbackend.domain.CommentTable">
		<result column="cid" property="cid" jdbcType="INTEGER" />
		<result column="nid" property="nid" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="DATE" />
	</resultMap>
	<resultMap id="map4" type="com.lubao.forbackend.domain.CommentMix">
		<result column="cid" property="cid" jdbcType="INTEGER" />
		<result column="nid" property="nid" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="VARCHAR" />
		<result column="date" property="date" jdbcType="DATE" />
		<result column="nick" property="nick" jdbcType="VARCHAR" />
		<result column="thumbnail" property="thumbnail" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getCommentTablesByID" parameterType="int" resultMap="map1">
		SELECT * FROM comment_c WHERE cid = #{cid} 
	</select>
	<select id="getCommentTablesByNid" parameterType="int"
		resultMap="map1">
		SELECT * FROM comment_c WHERE nid = #{nid}
	</select>
	<select id="getCommentMixsByID" parameterType="int" resultMap="map4">
		SELECT c.cid,c.nid,c.content,c.date,p.nick,p.thumbnail FROM comment_c c ,
		personal p WHERE c.cid = #{cid} and c.nid=p.nid order by c.date desc
	</select>
	<insert id="insertComment" parameterType="com.lubao.forbackend.domain.CommentTable"
		useGeneratedKeys="true" keyProperty="cid">
		INSERT INTO
		comment_c(cid,nid,content,date,state) VALUES
		(#{cid},#{nid},#{content},#{date},#{state})
	</insert>
</mapper>